<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>

   {{>navbar}}
    
    <!-- header code -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-6 col-12 main_header_right">
               <figure>
                  <img src="/images/abot.png" alt="munna" class = "img-fluid rotating" title="Munna">
               </figure>
              </div>
              <!-- right side</div> -->

                <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to weather app</p>
                  <h1>I Am a <span class="text_clr"> Mern Stack Developer </span>, learner and Seeker of the lost good</h1>
                  <a href="https://www.facebook.com/" target="_prasad"><button>About Me</button></a>
                </div>
              </div>     
          </div>
      </div>
    </div>
      <!-- footer <code></code> -->
      {{>footer}}
  </body>
</html>
